<h1>Listing Facebook Friends</h1>

<%= link_to "Import facebook friends", import_facebook_friends_path, method: :post, class: "btn btn-primary" %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Work</th>
        <th>Location</th>
        <th>Birthday</th>
        <th>College</th>
        <th>Significant other</th>
        <th>User</th>
        <th>Facebook</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @facebook_friends.each do |facebook_friend| %>
        <tr>
          <td><%= facebook_friend.name %></td>
          <td><%= image_tag facebook_friend.photo %></td>
          <td><%= facebook_friend.work %></td>
          <td><%= facebook_friend.location %></td>
          <td><%= facebook_friend.birthday %></td>
          <td><%= facebook_friend.college %></td>
          <td><%= facebook_friend.significant_other %></td>
          <td><%= facebook_friend.user_id %></td>
          <td><%= facebook_friend.facebook_id %></td>
          <td><%= link_to 'Show', facebook_friend %></td>
          <td><%= link_to 'Edit', edit_facebook_friend_path(facebook_friend) %></td>
          <td><%= link_to 'Destroy', facebook_friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to "Delete all friends", destroy_all_facebook_friends_path, method: :delete, class: "text-danger" %>
